<form class="" action="/register" method="post">
  <label for="username">What will your username be?</label>
  <input type="text" name="username">
  <label for="email">What is your email address?</label>
  <input type="email" name="email">
  <label for="password">Password</label>
  <input type="password" name="password">
  <button>Register</button>
</form>
