<main class="home-img columns">

<% if (locals.isLoggedIn) { %>
<div class="columns is-4">
  <p>Welcome back <%= locals.currentUser.username %></p>
  <% } else { %>
  <div class="column is-4">
  <p>Why not register to add your own favorites and review others?</p>
  </div>
  <% }%>
<div class="home-bod column is-4">
<h1>Welcome to Manga Book</h1>
<h2>Where you can find and rate all your favorite mangas and animes</h2>

</main>
