<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Manganime</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
  </head>
  <body class="has-navar-fixed-top">
    <header>
      <nav class="navbar is-fixed-top nav-style is-dark">
        <div class="navbar-end">
          <a href="/about" class="navbar-item nav-col">About</a>
          <a href="/" class="navbar-item nav-col">Home</a>
          <a href="/mangas/new" class="navbar-item nav-col">Add a review</a>
          <a href="/mangas" class="navbar-item nav-col">Find a review</a>
          <% if (locals.isLoggedIn) { %>
            <a href="/logout" class="navbar-item nav-col">Log out <%= locals.currentUser.username %></a>
          <% } else { %>
            <a href="/login" class="navbar-item nav-col">Log In</a>
            <a href="/register" class="navbar-item nav-col">Register</a>
          <% } %>
        </div>
      </nav>
    </header>
    <main class="main-body">

    <%- body %>

    </main>
    <footer class="foot footer">
      <div class="content has-text-centered">
        <p>Made by GrantMW</p>
      </div>
    </footer>
  </body>
</html>
