<form action="/mangas" method="post">
  <div class="">
    <label for="book">Title:</label>
    <input name="book" id="title" placeholder="e.g. Attack on Titan">
  </div>
  <div class="">
    <label for="bookCover">Image (URL)</label>
    <input type="url " name="bookCover" id="bookCover" placeholder="http://...">
  </div>
  <div class="">
    <label for="author">Author</label>
    <input name="author" id="author" placeholder="e.g Jim Bobson">
  </div>
  <button class="">Add a review</button>
</form>


    </form>
  </section>
